.content-list-container {
  padding: 24px;
  text-align: center;
}

/* 검색 영역 + 등록 버튼 중앙 정렬 */
.search-and-button {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 40px;
  margin-top: 32px; 
}

/* 입력창 크기 조절 */
.search-and-button input {
  width: 500px;
  padding: 8px;
  background-color: #F9F4EB;  /* 배경색과 동일하게 */
  border: 1px solid #1D5385;  /* 흰색 테두리 */
  border-radius: 4px;
  color: #000000;  
}

/* placeholder 글씨색 */
.search-and-button input::placeholder {
  color: #1D5385;  /* placeholder(제목으로 검색...)도 흰색 */
  opacity: 0.8;    /* 조금 연하게 표시 */
}


/* 그리드 */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 70px;
  margin-bottom: 40px;
}

/* 카드 */
.content-card {
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 15px;
}
.content-card:hover {
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.content-card img {
  width: 100%;
  aspect-ratio: 3 / 4;   /* 항상 3:4 비율 유지 */
  object-fit: cover;     /* 비율 깨지지 않고 꽉 차도록 */
  border-radius: 10px;    /* 선택: 모서리 둥글게 */
  display: block;
  transition: transform 0.3s ease; /* 부드러운 확대 효과 */
}

.content-card:hover img {
  transform: scale(1.05); /* 5% 확대 */
}

.content-card p {
  margin: 8px 0;
  font-weight: bold;
}

/* 페이지네이션 */
.pagination {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 24px;
}
.pagination button {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.pagination button.active {
  background: #eee;
}
.pagination button:disabled {
  opacity: 0.5;
  cursor: default;
}
